.reveal .footer {
  position: absolute;
  bottom: 1em;
  left: 1em;
  font-size: 0.6em;
}
.reveal .slides {
    text-align: left;
    font-size: 0.6em;
}
.reveal section img {
  border: 0;
  box-shadow: none;
}
